.table {
  width: 100%;
  max-width: 520px;
}

.table tbody tr td {
  text-align: center;
}

.table tbody tr td:empty::after {
  content: "\00a0";
}

.table tbody tr td:first-child {
  text-align: left;
}
