.root {
  padding-left: calc(var(--spacing) * 2);
  padding-bottom: var(--spacing);
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
  border-bottom: 1px solid var(--highlight-color);
}

.root > a {
  margin-right: var(--spacing);
}

.active {
  color: var(--highlight-color);
}
